*{
    box-sizing: border-box;
}

body{
    background-color:#16C172;
}
ul{
    padding: 10px;
    
}

h1{
    text-align: center;
    background-color:#09E85E;
    padding:45px;
    font-size: 40px;
}


ul p{
    margin:20px;


}

nav ul{
    list-style-type: none; 
    padding: 5px;
    margin:5px;
     -ms-flex: 5;
     background-color:#09E85E;
     flex: 3;
     

}
footer{
     background-color:#09E85E;
     padding:5px;
     text-align:center;
     font-size:20px;
}
table{
    border-collapse: collapse;
    text-align: center;
    
}