*{
    box-sizing: border-box;
}

body{
    background-color: #4CAF50;
}
ul{
    padding: 10px;
    
}

h1{
    text-align: center;
    background-color:#09E85E;
    padding:45px;
    font-size: 40px;
}


ul p{
    margin:20px;


}

nav ul{
    list-style-type: none; 
    padding: 5px;
    margin:5px;
     -ms-flex: 5;
     background-color:#09E85E;
     flex: 3;
     

}
footer{
     background-color:#09E85E;
     padding:5px;
     text-align:center;
     font-size:20px;
}


  table {
    border-collapse: collapse;
    margin: 40px auto;
    width: 70%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
     }

  th {
    background: #4CAF50;
    color: white;
    padding: 14px;
    text-align: left;
    font-size: 18px;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-size: 16px;
  }

  tr:hover {
    background: #f1f1f1;
  }
  input[type=text],input[type=email],input[type=village],input[type=submit],input[type=comment]{
        padding: 5px;
        border-radius: 5px; 
        

  }
              
div{
    margin-inline-start: 15px;
    padding: 5px;
    text-align: center;
    color:greenyellow;
    
} 

h2{
    text-align: center;
    color: greenyellow;
}

